# Python CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-python/ for more details
#
version: 2

bin-path: &bin-path
  name: Add local binaries to path
  command: echo 'export PATH=~/.local/bin/:$PATH' >> $BASH_ENV

# documentation build
apt-run: &apt-install
  name: Install apt packages
  command: |
    sudo apt-get install -y pandoc

deps-run: &doc-deps
  name: Install Python dependencies
  command: |
    python -m pip install --user -r requirements.txt
  working_directory: docs

doc-run: &doc-build
  name: Build documentation
  command: make html
  working_directory: docs

# Testing
test-deps-run: &test-deps
  name: Install testing dependencies
  command: |
    python -m pip install --user matplotlib>=2.2 pytest pytest-cov pillow
    sudo pip install codecov

tests-run: &test-run
  name: Run Pytest
  command: python -m pytest tests/ --cov


jobs:
  docs-python36:
    docker:
      - image: circleci/python:3.6
    steps:
      - checkout

      - run: *bin-path
      - run: *apt-install
      - run: *doc-deps
      - run: *doc-build

      - store_artifacts:
          path: docs/build/html

  test-python36:
    docker:
      - image: circleci/python:3.6
    steps:
      - checkout

      - run: *bin-path
      - run: *test-deps
      - run: *test-run

      - store_artifacts:
          path: tests/output_images

      - run:
          name: Upload coverage report
          command: codecov


workflows:
  version: 2
  build:
    jobs:
      - docs-python36
      - test-python36
